* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(20, 19, 19);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.texto {
color: #333;
font-size: 18px;
margin-top: 40px;
}

.azul {
  color: blue;
  font-weight: bold;
}

.verde {
  color: green;
  font-weight: bold;
}

.vermelho {
  color: red;
  font-weight: bold;
}

#titulo {
  font-style: oblique;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.container {
  background-color: white;
  padding: 30px;
  border: none;
  border-radius: 12px;
  margin: 0;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.meuBotao {
text-align: center;margin: 10px;
padding: 10px 20px;
cursor: pointer;
background-color:rgb(165, 10, 226);
border-radius: 8px;
color: white;
border: none;
transition: background-color 0.3s;
}

.meuBotao:hover {
  background-color: rgb(171, 40, 223);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.creditos {
  position: fixed;
  bottom: 10px;
  right: 10px;

  font-size: 12px;
  color: white;
  opacity: 0.6;

  font-family: Arial, sans-serif;
}